*
{
  margin: 0;
  padding: 0;
}

.description > .title-sensky
{
    font-family: Quicksand, Avenir;
    color: orange;
    text-align: center;
    margin-top: 5%;
    font-weight: 250px;
    font-size: 3em;
    margin-bottom: 3%;

}

.description p
{
    color: black;
    text-align: center;
    align-content: center;
}

.grid-wrapper
{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 40% 60%;
}

.grid-wrapper > p
{
    margin-left: 6em;
    margin-right: 6em;
}

.box > img
{
    width: 100%;
    margin-left: 2em;
}

@media only screen and (max-width: 900px)
{
    .description > .title-sensky
    {
        margin-top: 20%;
        font-size: 1.9em;
        font-weight: bold;
    }
}

@media only screen and (max-width: 750px) { /* Responsividad de la pantalla */
    .description > .title-sensky
    {
        margin-top: 30%;
        font-size: 1.9em;
        font-weight: bold;
    }

    .grid-wrapper
    {
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }

    .grid-wrapper > p
    {
        margin-right: 0;
        margin-left: 0;
    }

    .box > img
    {
        margin-left: 0;
        width: 80%;
    }
}

/***********************************
** Carrousel Styles
***********************************/

.swiper-container 
{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide 
{
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);

}

