* 
{
    box-sizing: border-box;
}

html,
body 
{
    width: 100%;
    height: 100%;
}

body 
{
    margin: 0;
    font-family: Quicksand, Avenir;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}


/***********************************
** Navbar styles
***********************************/

nav
{
    background-color: #cd4a4a;
    text-align: start;
}

nav a
{
    color: #fff;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

nav a:hover 
{
    border-bottom: 2px solid #fff;
}

li {
    padding: 20px;
    font-size: 1.5rem;
}

.top-bar {
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background 250ms ease-in;
    z-index: 5;
}

.nav-changed > .top-bar
{
    transition: background 550ms ease-in;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    background-color: black;
    z-index: 9999;
}

.nav-changed a
{
    color: white;
}

.nav-changed a:hover 
{
    border-bottom: 2px solid #f37f22;
}

.top-bar>* {
    display: inline-block;
    height: 100%;
}

.top-bar .left {
    padding: 10px;
    margin-left: 40px;
}

.top-bar .left img {
    height: 100%;
}

.top-bar .right {
    float: right;
    margin-right: 20px;
}

.nav-links {
    display: flex;
    right: 0%;
    list-style: none;
    margin: 0;
}

.hamburger {
    font: inherit;
    display: none;
    overflow: visible;
    margin: 0;
    padding: 25px 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background: transparent;
    height: 100%;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.hamburger--squeeze .hamburger-inner {
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
    transition-duration: 75ms;
}

.hamburger--squeeze.is-active .hamburger-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: rotate(45deg);
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #fff;
}

.hamburger-inner::after,
.hamburger-inner::before {
    display: block;
    content: "";
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 75ms ease .12s, opacity 75ms ease;
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19);
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
    transform: rotate(-90deg);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    transition: top 75ms ease, opacity 75ms ease .12s;
    opacity: 0;
    clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: (1000px at 90% -10%);   
        pointer-events: all;
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
}


.fade-in 
{
    opacity: 0;
    transition: opacity 1200ms ease-in;
}

.fade-in.appear
{
    opacity: 1;
}


/***********************************
** Intro styles
***********************************/

.contenedor {
    width: 100%;
    max-width: 93rem;
}
.contenedor .header {
    background: #CD4A4A;
}

.home .bg-image {
    position: absolute;
    background: url("../img/main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 350px;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
  }

  .home{
    min-height: 350px;
    color: #fff;
    text-align: center;
  }

  .home-text{
    padding: 0 1.5rem;
    max-height: 100%;
    text-align: center;
}

.home-text h1 {
    font-size: 2rem;
    color: #2B0A60;   
    font-family: Quicksand;
    padding-top: 50px;
    padding-bottom: 0;
}

.home-text p {
    font-size: 1rem;
    color: #2B0A60;  
}


.contenedor .section-1 {
    width: 100%;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 0 1rem 0;
}

.section-1 .bg-image{
    position: absolute;
    margin-top: -00px;
    width: 100%;
    z-index: -1;
}

.section-1 .bg-image img{
    width: 100%;
    min-height: 250px;
    max-height: 100%;
}    

.section-1-text{
    margin-top: -0px;
    padding: 0 1.5rem;
    max-height: 100%;
    text-align: center;
}


.section-1 h2{
    font-size: 1.5rem;
    color: #CD4A4A;
    font-family: Quicksand;
    padding-bottom: 0;
}

.section-1 p{
    font-size: 1rem;
    color: #CD4A4A;
    padding: 1rem 5%;
    font-family: AvenirLTStd-Book;
}

.contenedor .section-2 {
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: auto;
    height: auto;
}

.section-2 .bg-image{
    position: absolute;
    height: 750px;
    width: 100%;
    z-index: -1;
}
.section-2 .bg-image-desk{
    display: none;
}

.section-2 .bg-image img{
    width: 100%;
    height: 100%;
   
}


.section-2 .section-2-text,
.section-2 .section-2-text2{
    display: block;
    margin-top: -40px;
    padding: 3rem 1.5rem 0 1.5rem;
    max-height: 100%;
    text-align: center;
}
.section-2 .section-2-text h2{
    font-size: 1.5rem;
    color: #2B0A60;  
    font-family: Quicksand;
    padding-top: 1rem;
}
.section-2 .section-2-text p{
    font-size: 1rem;
    color: #2B0A60;  
    padding: 1rem 5%;
    font-family: AvenirLTStd-Book;
}
.section-2 .items{
    width: 100%;
    text-align: center;
}

.section-2 .item1,
.section-2 .item2,
.section-2 .item3,
.section-2 .item4{
    float: left;
     width: 50%;
     margin: 0;
     height: 189;
     color: #CD4A4A;;
  }

  .section-2 .section-2-text2 p{
    display: inline-block;
    font-size: 1rem;
    color: #2B0A60;  
    padding: 1rem 5%;
    font-family: AvenirLTStd-Book;
    padding-top: 2rem;
}


.contenedor .section-3 {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0 1rem 0;
}

.section-3 h2{
    font-size: 1.5rem;
    width: 100%;
    color: #CD4A4A;
    font-family: Quicksand;
    padding-bottom: 0;
}

.section-3 p{
    font-size: 1rem;
    color: #CD4A4A;
    padding: 1.5rem 5%;
    font-family: AvenirLTStd-Book;
}
.section-3 .hashtag{
    font-size: 1.3rem;
}

.btn {
    background: #CD4A4A;
    color: white;
    padding:.6rem 2rem .6rem 2rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    text-decoration: none;
}




footer{
    width: 100%;
    background:#E08C30 ;
    color: white;
    text-align: left;
    
}
footer h4{
    color: #2B0A60;
    font-size: 22px;
    margin-bottom: 20px;
}
footer p {
    font-size: 14px;
    color: white;
    line-height: 30px;
    
}

.title1-footer,
.title2-footer,
.title3-footer{
    padding-top: 5%;
    padding-left: 5%;
    
}

.cont1-footer,
.cont2-footer,
.cont3-footer{
    padding-left: 5%;
    padding-right: 5%;
}

footer a {
    color: white; 
    text-decoration: none;
    font-size: 19px;
    line-height: 30px;
}
.social-footer{
    text-align: center;
    grid-area: social-footer;
}
.social-footer img{
    width: 50px;
     }

/***********************************
** Media Queries
***********************************/

@media only screen and (max-width: 769px) { /* Screen Responsiveness */

    nav 
    {
        position: relative;
    }

    .nav-links 
    {
        position: fixed;
        background: #a2cce0;
        /*background: #2b0a60;*/
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(0.4% at 100% -10%);
        -webkit-clip-path: (0.4% at 100% -10%);
        transition: all 2s ease-out;
        pointer-events: none;
        text-align: center;
    }

    .nav-links.open
    {
        clip-path: circle(120% at 100% 0%);
        -webkit-clip-path: circle(120% at 100% 0%);
        pointer-events: all;
    }

    .nav-links > li
    {
        opacity 0;
    }

    .nav-links li:nth-child(1)
    {
        transition: all 1 ease 1s;
    }

    .nav-links li:nth-child(2)
    {
        transition: all 2s ease 2s;
    }

    .nav-links li:nth-child(3)
    {
        transition: all 3s ease 3s;
    }

    .nav-links li:nth-child(4)
    {
        transition: all 4s ease 4s;
    }

    .nav-links li:nth-child(5)
    {
        transition: all 5s ease 5s;
    }

    .nav-links li:nth-child(6)
    {
        transition: all 6s ease 6s;
    }

    li.fade 
    {
        opacity: 1;
    }

    a
    {
        color:white;
    }

    #intro > .content > .grid-wrapper
    {
        display: none;
    }

    #laboratory
    {
        margin-right: 20px;
    }

    .hamburger 
    {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        display: inline-block;
    }
}

@media (min-width: 560px) {  
    .home-text h1
    {
        font-size: 3rem;
    }

    .home-text p 
    {
        font-size: 1.7rem;
    }

    .home img, .home .bg-image
    {
        height: 700px;
    }

    .home-text
    {
        padding: 8rem 5rem 2rem 3rem;
        max-height: 100%;
        min-height: 500px;
        text-align: center;
        margin-left: 40.6%;
    }
    
    .section-1
    {
        min-height: 250px;
        margin:0;
    }

    .contenedor .section-3,
    .section-2 .section-2-text,
    .section-2 .section-2-text2
    {
        margin: 0;
    }
    
    .section-1 h2,
    .section-2-text h2,
    .contenedor .section-3  h2
    {
        font-size: 2rem;
    }
    
    .section-1 p,
    .section-2 .section-2-text2 p,
    .section-2 .section-2-text p,
    .contenedor .section-3 p
    {
        font-size: 1.5rem;
    }

    .section-2 .bg-image-desk
    {
        display: block;
        position: absolute;
        max-height: 657px;
        width: 100%;
        z-index: -1;
    }

    .section-2 .bg-image-desk img
    {
        width: 100%;
        height: 100%;
        min-height:657px ;
    }

    .section-2 .bg-image
    {
        visibility: hidden;
    }
    
    
    .section-2 .item1,
    .section-2 .item2,
    .section-2 .item3,
    .section-2 .item4
    {
        float: left;
        width: 25%;
        margin: 0;
        height: 189;
        color: #CD4A4A;;
    }

    .contenedor .section-3 
    {
        padding: 10rem 0 1rem 0;
    }

    .contenedor .section-3 .hashtag
    {
        font-size: 1.8rem;
    }


    .contenedor .footer 
    {
        background:#E08C30 ;
        color: #fff;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "title1-footer title2-footer title3-footer"
                              "cont1-footer    cont2-footer  cont3-footer"
                              "social-footer social-footer social-footer"
    }

    footer h4
    {
        color: #2B0A60;
        font-size: 22px;
        margin-bottom: 20px;
    }
    footer p 
    {
        font-size: 14px;
        color: white;
        padding-right: 10px;
        line-height: 30px;
        
    }

    .title1-footer
    {
        grid-area: title1-footer;
        padding-top: 20px;
        padding-left: 75px;
        
    }

    .title2-footer
    {
        grid-area: title2-footer;
        padding-top: 20px;
        padding-left: 75px;
        
    }

    .title3-footer
    {
        grid-area: title3-footer;
        padding-top: 20px;
        padding-left: 75px;
        
    }

    .cont1-footer
    {
        grid-area: cont1-footer;
        padding-left: 75px;
        padding-right: 75px;
    }

    .cont2-footer
    {
        grid-area: cont2-footer;
        padding-left: 75px;
        padding-right: 75px;
    }

    .cont3-footer
    {
        grid-area: cont3-footer;
        padding-left: 75px;
        padding-right: 75px;
    }

    footer a 
    {
        color: white; 
        text-decoration: none;
        font-size: 19px;
        line-height: 30px;
    }

    .social-footer
    {
        text-align: center;
        grid-area: social-footer;
    }

    .social-footer img
    {
        width: 50px;
    }
}
